{% extends "base.html" %}

{% block content %}
{% if current_user.admin %}
<a href="/addanecdot" class="btn btn-success" style="display: table-cell;">
    Добавить анекдот
</a>
{% endif%}
{% for anecdot in anecdotiy %}
<div class='gather'>
<div class="line">
    <div>
Анекдот номер {{anecdot.id}} от пользователя {{anecdot.creator.name}} {{anecdot.creator.surname}}</div>

</div>
{% if current_user.is_authenticated and (current_user.id == 1 or current_user.id == job.team_leader)%}
<div class='line'>
<a href="/editanecdot/{{anecdot.id}}"  style='margin-right: 5px;' class="btn btn-warning">
    Изменить
</a>
<a href="/deleteanecdot/{{anecdot.id}}" class="btn btn-danger">
    Удалить
</a>
</div>
{% endif %}
<div class="space" style="text-align: left;">
    <div>
        {{anecdot.text}}
    </div>
</div>
<div class='line'>
<a href="/addlike/{{anecdot.id}}" style='margin-right: 3px;' class="btn btn-success" style="display: table-cell;">
    <img src="/static/data/like.png">
</a>
<div style="margin-right: 50px;">
    {{anecdot.likes}}
</div>
<a href="/adddislike/{{anecdot.id}}" style='margin-right: 3px;' class="btn btn-success" style="display: table-cell;">
    <img src='/static/data/dislike.png'>
</a>
<div>
    {{anecdot.dislikes}}
</div>
</div>
</div>
{% endfor %}
{% endblock %}